@import "./../settings/colors";

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__title {
    font-size: 40px;
    font-weight: normal;
  }
  &__decoration {
    margin: 30px 0;
  }
  &__form {
    width: 30vw;
    padding: 30px 40px;
    margin: 0 auto 50px;
    display: flex;
    flex-direction: column;
    background-color: $main-color;
    color: $dark-grey-color;
    &__label {
      font-weight: bold;
    }
    &__input {
      background-color: $main-color;
      padding: 10px 10px;
      margin: 10px 0;
      border: none;
      border-bottom: 1px solid $light-grey-color;
      outline: 0;
      @media only screen and (min-width: 1366px) and (max-width: 2000px){
      height: 10px;
      }
    }
    &__button {
      text-decoration: none;
      padding: 10px 15px;
      margin: 0 220px 0 220px;
      font-size: 32px;
      font-weight: lighter;
      background: white;
      border: 1px solid $dark-grey-color;
      &:hover {
        outline: 0.75px solid $dark-grey-color;
      }
      @media only screen and (min-width: 1366px) and (max-width: 2000px){
        margin: 0 100px 0 100px;
      }
    }
    &__login {
      @media only screen and (min-width: 1366px) and (max-width: 2000px){
        margin: 0 150px 0 150px;
      }
      text-decoration: none;
      padding: 10px 15px;
      margin: 0 220px 0 220px;
      font-size: 32px;
      font-weight: lighter;
      color: $dark-grey-color;
      &:hover {
        outline: 0.75px solid $dark-grey-color;
      }
    }
  }
}
