@import "././../settings/colors";
.about {
  display: flex;
  background-color: $main-color;
  color: $dark-grey-color;
  &__content {
    text-align: center;
    padding: 80px 100px;
    &__title {
      font-weight: normal;
      font-size: 38px;
      margin: 20px 0;
    }
    &__text {
      font-size: 30px;
      margin: 50px 0;
    }
  }
  &__img {
    width: 55%;
    object-fit: cover;
  }
}
