@import "././../settings/colors";
.about {
  margin-top: 50px;
  display: flex;
  background-color: $main-color;
  color: $dark-grey-color;
  &__content {
    text-align: center;
    padding: 160px 50px;
    width: 50%;
    @media only screen and (min-width: 1366px) and (max-width: 2000px){
      padding: 80px 5px;
    }
    &__title {
      font-weight: normal;
      font-size: 38px;
      margin: 20px 0;
    }
    &__text {
      width: 700px;
      font-size: 30px;
      margin: 0 auto;
      padding: 50px;
    }
    .signature {
      margin-left: 500px;
      @media only screen and (min-width: 1366px) and (max-width: 2000px){
        margin-left: 400px;
      }
    }
  }
  &__img {
    width: 50%;
    height: 935px;
    object-fit: cover;
  }
}
