@import "../settings/colors";

.firstSection{
  display: flex;
  justify-content: space-between;
  background: transparent url('../../assets/3 Columns Background@2x.png') 0 0 no-repeat padding-box;
  opacity: 1;
  &__box{
    width: 25%;
    margin: 50px 80px;
    text-align: center;
    color: $dark-green-color;
    &__counter{
      font-size: 90px;
      font-weight: normal;
    }
    &__title{
      text-transform: uppercase;
      font-size: 18px;
      margin: 25px 0;
    }
  }
}