@import "../settings/colors";

.firstSection {
  display: flex;
  justify-content: center;
  background: transparent url("../../assets/3 Columns Background@2x.png") 0 0
    no-repeat padding-box;
  opacity: 1;
  &__box {
    margin: 50px;
    text-align: center;
    color: $dark-green-color;
    p {
      font-size: 16px;
      font-weight: 600;
    }
    &__counter {
      font-size: 90px;
      font-weight: normal;
    }
    &__title {
      text-transform: uppercase;
      font-size: 18px;
      margin: 25px 0;
    }
  }
}
