@import "../settings/colors";

.footer {
  position: relative;
  background-image: url(../../assets/Background-Contact-Form.jpg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: $light-grey-color;
  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 2;
  }
  &__content {
    padding-right: 200px;
    transform: scale(1.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    @media only screen and (min-width: 1000px) and (max-width: 1900px) {
      padding-right: 5px;
      transform: scale(0.75);
    }
      &__title {
      font-size: 38px;
    }
    &__decoration {
      margin: 30px 0;
    }
  }
}
