@import "../settings/colors";

.main {
  color: $dark-grey-color;
  background: url("../../assets/Home-Hero-Image.jpg") no-repeat -600px;
  background-size: contain;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @media only screen and (min-width: 1000px) and (max-width: 1900px) {
    background: url("../../assets/Home-Hero-Image.jpg") no-repeat -500px;
    background-size: contain;
  }
    &__header {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
  &__content {
    @media only screen and (min-width: 1000px) and (max-width: 1900px) {
      padding: 0 50px;
    }
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 350px 50px 50px;
    &__text {
      font-size: 38px;
      font-weight: 400;
      text-align: center;
      margin: 10px 0;
    }
    &__img {
      margin: 30px 0;
    }
  }
}
