@import "../settings/colors";
@import "../settings/mixins";

.info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background: $light-orange-color;
  padding: 15px 80px;
  height: 15vh;
  &__title {
    font-size: 36px;
  }
  &__text {
    font-size: 16px;
  }
}

.formClothes {
  width: 100vh;
  height: 85vh;
  position: relative;
  padding: 80px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-image: url("../../assets/Background-Form.jpg");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
  }
  &__button {
    color: $dark-grey-color;
    cursor: pointer;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    border: 0.75px solid $dark-grey-color;
    padding: 10px;
    margin: 180px 20px;
    @media only screen and (min-width: 1000px) and (max-width: 1950px) {
      @include button;
    }
  }
  &__step {
    margin: 50px 0;
    font-size: 24px;
    color: $dark-grey-color;
    font-weight: normal;
  }
  &__firstStep {
    width: 550px;
    @media only screen and (min-width: 1000px) and (max-width: 1900px) {
      @include content;
    }
    &-hide {
      display: none;
    }
    &__title {
      font-size: 36px;
    }
    &__form {
      display: flex;
      flex-direction: column;
      &__input {
        display: none;
      }
      &__label {
        cursor: pointer;
        margin: 20px 0;
        position: relative;
      }
      &__checkbox {
        width: 22px;
        height: 22px;
        border: 0.75px solid $dark-grey-color;
        position: absolute;
        top: 0;
        margin: 0 10px;
        &::after {
          content: "";
          display: block;
          width: 20px;
          height: 20px;
        }
      }
      &__input:checked + &__checkbox::after {
        background: $light-orange-color;
      }
    }
  }
  &__secondStep {
    margin: 50px 0;
    width: 550px;
    @media only screen and (min-width: 1000px) and (max-width: 1900px) {
      @include content;
    }
    &-hide {
      display: none;
    }
    &__title {
      font-size: 36px;
    }
    &__form {
      margin: 20px 0 250px 0;
      &__select {
        width: 150px;
        height: 40px;
        font-size: 24px;
        margin: 0 50px;
        appearance: none;
        outline: 0;
        border: 0.75px solid $dark-grey-color;
        padding: 0 20px;
        cursor: pointer;
        background-color: transparent;
        &::-ms-expand {
          display: none;
        }
      }
    }
  }

  &__thirdStep {
    margin: 50px 0;
    width: 600px;
    @media only screen and (min-width: 1000px) and (max-width: 1900px) {
      position: relative;
      top: -110px;
    }
    &-hide {
      display: none;
    }
    &__title {
      font-size: 36px;
    }
    &__form {
      display: flex;
      flex-direction: column;
      margin: 20px 0;
      &__select {
        width: 170px;
        height: 40px;
        font-size: 24px;
        appearance: none;
        outline: 0;
        border: 0.75px solid $dark-grey-color;
        padding: 0 20px;
        cursor: pointer;
        background-color: transparent;
        &::-ms-expand {
          display: none;
        }
      }
      &__box {
        display: flex;
        justify-content: stretch;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        margin: 20px 0;
      }
      &__radio {
        border: 0.75px solid $dark-grey-color;
        padding: 10px 20px;
        margin: 0 20px 20px 0;
        cursor: pointer;
        background-color: transparent;
        position: relative;
      }
      &__input {
        display: none;
      }
      &__checkbox {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      &__input:checked + &__checkbox {
        background-color: $light-orange-color;
        z-index: -1;
      }
      &__organization {
        padding: 10px 5px;
        height: 30px;
        width: 485px;
        background-color: transparent;
        border: 0.75px solid $dark-grey-color;
        outline: 0;
      }
    }
  }
  h2 {
    padding-right: 150px;
  }
  &__fourthStep {
    width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    @media only screen and (min-width: 1000px) and (max-width: 1900px) {
      position: relative;
      top: -110px;
      @include formFix;
    }
    &-hide {
      display: none;
    }
    &__title {
      font-size: 36px;
    }
    &__form {
      display: flex;
      align-items: flex-start;

      &__box {
        margin: 40px 0 -70px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
      }
      &__label {
        margin: 10px 15px;
        padding-right: 120px;
      }
      &__input {
        margin: 0 10px;
        padding: 10px 5px;
        height: 30px;
        width: 200px;
        background-color: transparent;
        border: 0.75px solid $dark-grey-color;
        outline: 0;
      }
    }
    .btn__container {
      margin-top: 50px;
    }
  }
  &__fifthStep {
    margin: 50px 0;
    width: 600px;
    @media only screen and (min-width: 1000px) and (max-width: 1900px) {
      position: relative;
      top: -120px;
      @include formFix;
    }
    @media only screen and (min-width: 1900px) and (max-width: 2200px) {
      position: relative;
      top: -100px;
    }
    &-hide {
      display: none;
    }
    &__content {
      display: flex;
      justify-content: space-between;
      &__box {
        margin: 10px 0;
        &__text {
          margin: 10px 0;
        }
      }
    }
  }
  &__lastStep {
    margin: 80px 0;
    width: 450px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-hide {
      display: none;
    }
    &__img {
      margin: 30px 0;
    }
  }
}
.icons__step {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  img {
    margin-right: 10px;
  }
}
.box1 {
  display: flex;
  flex-direction: row;
  margin: 10px;
  align-items: center;
}
.box2 {
  display: flex;
  flex-direction: row;
  margin: 10px;
  align-items: center;
}
