@import "./../settings/colors";

.navPages {
  position: relative;
  right: 50px;
  text-decoration: none;
  padding: 10px 15px;
  margin: 0 5px;
  color: $dark-grey-color;
  &:hover {
    outline: 0.75px solid $light-orange-color;
  }
}
.hello {
  margin: 0 80px;
  display: inline;
  cursor: default;
  font-size: 18px;
  color: $dark-grey-color;
}
